.card-trip {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 16px;
}

.card-trip_image {
  height: 200px;
  background-position: center;
  background-size: cover;
}

.card-trip_info {
  display: flex;
  justify-content: space-between;
  padding: 0 32px 32px;
  align-items: flex-end;
}

.card-trip_info div > p {
  margin: 0;
  padding-right: 8px;
}

.card-trip_info > h2 {
  margin: 0;
}
